.login-img {
    display: block; /* Images are inline by default */
    margin-left: auto;
    margin-right: auto;
    height: 256px;
  }

  .full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content-area {
    flex-grow: 1;
  }
  
  .bottom-section {
    text-align: center;
    padding: 16px; /* Adjust as needed */
  }
  
  .login-text-block {
    display: block; /* This ensures the text takes its own line */
    margin-top:22px; /* Adjust space between text and buttons */
  }
  
  .button-row {
    display: block; /* This ensures buttons start on a new line */
    padding-top: 10px; /* Add top padding to the button row */
  }